<div class="bannerdiv">
    <img src="assets/banner1.jpg" alt="banner" class="bannerimg">  
    <div class="button-group">
        <button mat-raised-button class="oval-button" >Login</button>
        <button mat-raised-button class="oval-button" >Sign Up</button>
    </div> 
    <div class="searchBox">
        <input class="searchInput" type="text" name="name" (input)="onSearchChange($event)" placeholder="Search">
        <button class="searchButton" href="#">
            <i class="material-icons">search</i>
        </button>
    </div> 
</div>

<!-- <div class="n-left">
    <img src="assets/logo.jpeg" alt="logo" class="navbar-logo">
</div> -->
<!-- <nav class="navbar navbar-expand-lg ">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Recipes</a>
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">About</a>
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Contact</a>
            <a class="nav-link" href="#"></a>
          </li>
        </ul>
    </div>
</nav> -->