<div class="home">
<app-header></app-header>
  <!-- home.component.html -->
  <h3>MOST POPULAR</h3>
  <div class="recipe-container">
    <div *ngIf="recipes.length === 0">No recipes available.</div> 
      <div class="card" style="width: 18rem;" *ngFor="let recipe of filteredRecipes">
      <div class="image-container">
          <img [src]="recipe.imageUrl" alt="{{ recipe.title }}" /> 
      </div>         
          <div class="card-body">
          <h3>{{ recipe.title }}</h3>
          <!-- <p>{{ recipe.description }}</p> -->
          <!-- <p>Ingredients: {{ recipe.ingredients.join(',') }}</p> -->
          <!-- <p>Steps: {{ recipe.steps.join(',') }}</p> -->
          <!-- <p>Cook Time: {{ recipe.cookTime }}</p> -->
          <!-- <p>createdBy: {{ recipe.createdBy }}</p> -->
          <p>Rating: {{ recipe.averageRating }}</p>
          </div>
      </div>
  </div>
</div>
<!-- <div style="display: flex;align-items: center;justify-content: center;">
    <img style="width: 30%;height:30%;" src="https://cdn.pixabay.com/photo/2024/05/18/18/07/woman-8770764_1280.png" 
    alt="Logo" class="login-logo">
</div>
<h3 style="margin-left: 20%;color: rgb(107, 20, 65);">UNLIMITED PREMIUM RECIPES</h3>
<h1  style="margin-left: 20%;">START </h1>
<h1  style="margin-left: 20%;">COOKING</h1>
<div style="display:flex;align-items:center;justify-content:center;" class="button-group">
    <button mat-raised-button class="oval-button" color="primary" (click)="onLogin()">Login</button>
    <button mat-raised-button class="oval-button" color="accent" (click)="onSignUp()">Sign Up</button>
</div> -->

